/* TODO: import nord somehow */
/* @import "node_modules/nord/src/nord.css"; */

.form {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    font-size: 1.5vw;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color: #E5E9F0;
}

.form label {
    position: relative;
    margin-top: 4%;
    margin-bottom: 2%;
}

.form input {
    position: relative;
    font-size: 1.5vw;

    border-radius: 30px;
    border-width: 3px;
    border-color: #A3BE8C;
    
    padding: 2%;

    background-color: #E5E9F0;
    transition: linear 0.1s;
}

.form input:hover {
    border-width: 5px;
    border-color: #B48EAD;

}

.form input:focus {
    border-width: 7px;
    border-color: #B48EAD;
}

.form button {
    color: #E5E9F0;
    font-size: 1.5vw;
    font-family: 'Sofia Sans', sans-serif;

    padding: 3%;
    margin-top: 7%;

    width: 30%;
    height: 10%;

    border-radius: 30px;
    border-width: 0px;
    background-color: #A3BE8C;

    transition: ease-in-out 0.2s;
}

.form button:hover {
    background-color: #B48EAD;
}
