/* TODO: import nord somehow */
/* @import "node_modules/nord/src/nord.css"; */
#login-signup-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 92vh;
}

#login-background {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
}

#signup-background {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background-image: url(../resources/map7_1480x800.webp);
    background-position: left;
    background-size: cover;
}

#signup-block-wrapper {
    height: 40%;
    width: 100%;
    background-color:#2e344094;
    text-align: center;
    vertical-align: middle;
    /* font-size: 1.3vw; */
}

#signup-block-wrapper h1 {
    font-size: 3vw;
    color: #E5E9F0;
}

#signup-block-wrapper h2 {
    font-size: 2vw;
    color: #E5E9F0;
}

#signup-button {
    position: relative;
    font-size: 1.5vw;
    color: #2E3440;
    background-color: #81A1C1;
    padding: 2% 10% 2% 10%;
    margin-top: 7%;
}

#signup-button:hover {
    background-color: #A3BE8C;
}

#login-block-wrapper {
    height: 60vh;
    width: 100%;
}

#login-wrapper {
    position: relative;
    padding-top: 3vh;
    width: 100%;
    height: 55%;
}

#login-title {
    text-align: center;
    font-size: 4vw;
    color: #E5E9F0;
}

#login-form-wrapper {
    width: 70%;
    height: 90%;

}

.form {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    font-size: 1.5vw;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color: #E5E9F0;
}

.form label {
    position: relative;
    margin-top: 4%;
    margin-bottom: 2%;
}

.form input {
    position: relative;
    font-size: 1.5vw;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 60%;
    height: 50%;

    border-radius: 30px;
    border-width: 3px;
    border-color: #A3BE8C;
    
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;

    background-color: #E5E9F0;
    transition: linear 0.1s;
}

.form input:hover {
    border-width: 5px;
    border-color: #B48EAD;

}

.form input:focus {
    border-width: 7px;
    border-color: #B48EAD;
}

.form button {
    color: #E5E9F0;
    font-size: 1.5vw;
    font-family: 'Sofia Sans', sans-serif;

    padding: 3%;
    margin-top: 7%;

    width: 30%;
    height: 10%;

    border-radius: 30px;
    border-width: 0px;
    background-color: #A3BE8C;

    transition: ease-in-out 0.2s;
}

.form button:hover {
    background-color: #B48EAD;
}

.text-link {
    position: relative;
    font-size: 1.1vw;
    color: #d8dee9d4;
    transition: linear 0.2s;
}

.text-link:hover {
    color: #B48EAD;
    text-decoration: underline;
}

.centered-outer-container {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-centered-container {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.button {
    font-family: 'Sofia Sans', sans-serif;

    

    border-radius: 30px;
    border-width: 0px;
    transition: ease-in-out 0.2s;
}

