.text-link {
    position: relative;
    font-size: 1.1vw;
    color: #d8dee9d4;
    transition: linear 0.2s;
}

.text-link:hover {
    color: #B48EAD;
    text-decoration: underline;
}

.centered-outer-container {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-centered-container {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.horizontal-centered-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button {
    font-family: 'Sofia Sans', sans-serif;
    border-radius: 30px;
    border-width: 0px;
    transition: ease-in-out 0.2s;
}

.screen {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    /* width: 100vw; */
    /* height: 100vh; */
}

h1 {
    font-size: 3vw;
    color: #E5E9F0;
}

h2 {
    font-size: 2vw;
    color: #E5E9F0;
}

p {
    font-size: 1.5vw;
    color: #E5E9F0;
}

/* MENU CSS */
#headerId{
    color: #2E3440;
    min-width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #A3BE8C;
    z-index: 300;
    font-family: 'Sofia Sans', sans-serif;
    top: 0;
}

#headerId h1 {
    font-size: 2vw;
}

#headerId h2 {
    color: #2E3440;
}