#login-signup-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 92vh;
}

#login-background {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
}

#signup-background {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background-image: url(../resources/map7_1480x800.webp);
    background-position: left;
    background-size: cover;
}

#signup-block-wrapper {
    height: 40%;
    width: 100%;
    background-color:#2e344094;
    text-align: center;
    vertical-align: middle;
    /* font-size: 1.3vw; */
}

#signup-block-wrapper h1 {
    font-size: 3vw;
    color: #E5E9F0;
}

#signup-block-wrapper h2 {
    font-size: 2vw;
    color: #E5E9F0;
}

#signup-button {
    position: relative;
    font-size: 1.5vw;
    color: #2E3440;
    background-color: #81A1C1;
    padding: 2% 10% 2% 10%;
    margin-top: 7%;
}

#signup-button:hover {
    background-color: #A3BE8C;
}

#login-block-wrapper {
    height: 60vh;
    width: 100%;
}

#login-wrapper {
    position: relative;
    padding-top: 3vh;
    width: 100%;
    height: 55%;
}

#login-title {
    text-align: center;
    font-size: 4vw;
    color: #E5E9F0;
}

#login-form-wrapper {
    width: 70%;
    height: 90%;
}

#loginform input {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 60%;
    height: 50%;
}