#screen1 {
    position:absolute; 
    left:0; 
    width:100%; 
    height:100%; 
    display:inline-block  
}

#signup-wrapper {
    position: absolute;
    bottom: 0;
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: center;
}

#signup-half {
    height: 100%; 
    background-color: #2E3440;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

#signup-form-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    flex-basis: 80%;
    box-sizing: border-box;
    /* background-color: grey; */
}

#signup-form {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: grid;
    grid-template-columns:  1fr 1fr 2fr;
    grid-template-rows:     1fr 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    /* row-gap: 3%; */
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    vertical-align: top;
    align-items:baseline;
}

#signup-form div {
    /* background-color: aqua; */
    /* box-sizing: border-box; */
}

#signup-form input, #signup-form textarea {
    width: 100%;
    margin-top: 2%;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    padding: 3%;
    height: 6vh;
    box-sizing: border-box;
}

#driver-half {
    height: 100%; 
    flex-grow: 1;
    background-color: #4C566A;
    display: flex;
    flex-direction: column;
}

#driver-form-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    flex-basis: 85%;
    box-sizing: border-box;
    /* background-color: grey; */
}

#password-form input {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    height: 6vh;
    box-sizing: border-box;
}