#headerId{
    min-width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #A3BE8C;
    z-index: 300;
<<<<<<< HEAD
    font-family: 'Sofia Sans', sans-serif;
=======
    top: 0;
}

#headerId h1 {
    font-size: 2vw;
>>>>>>> 1f1a0c30e405d583dd062748f397691282824ea5
}

body{
    margin:0;
    background-color: #2e344094;
}
#pickerCard{
    height: 200px;
    width: 40%;
    background-color: #D3FFE9;
    border: #4B5043;
    position: absolute;
    margin-top: 200px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li{
    display: inline-block;
}
a{
    color: #D3FFE9;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
#cardDiv{
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}
#logoHeader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
#iconAndText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inputText{
    border: none;
    border-bottom: 2px solid #4B5043;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 8px;
    background-color: transparent;
    
}
.inputText:focus{
    outline: none;
}
#searchButton{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    background-color: #9BC4BC;
    transition: 1s all;

}
#searchButton:hover{
    background-color:#6b817d ;
    box-shadow: 0px 0px 0px 0px transparent;
    cursor:pointer;
}
#googleMaps{
    height: 100%;
    width: 60%;
    position: absolute;
  }
  .double-column-screen{
    display:flex;
  }