body{
    margin:0;
    background-color: #2e344094;
}
#pickerCard{
    height: 100vh;
    width: 40%;
    position: relative;
    background-color: #2E3440;
    border: #4B5043;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li{
    display: inline-block;
}
a{
    color: #2E3440;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: linear 0.1s;
}
a:hover {
    color: #ECEFF4;
    text-decoration: underline;
}
#cardDiv{
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}
#logoHeader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
#iconAndText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#formTitle{
    font-size: 50px;
    margin-bottom: 15vh;
    text-align: center;
    color: #E5E9F0;
}
.inputText{
    border: none;
    border-bottom: 2px solid white;
    font-size: 100%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    padding: 8px;
    background-color: transparent;
    
}
.inputText:focus{
    outline: none;
}
.inputText::placeholder{
    color:white;
}
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
.searchButton{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    background-color: #A3BE8C;
    transition: 1s all;
    margin-bottom: 30px;
}
.searchButton:hover{
    background-color:#6b817d ;
    box-shadow: 0px 0px 0px 0px transparent;
    cursor:pointer;
}
#googleMaps{
    height: 100%;
    width: 60%;
    min-height: 500px;
    position: relative;
  }
  .double-column-screen{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }

#rides-menu {
    position: absolute;
    top: 8vh;
    left: 1vw;
    height: 92vh;
    /* width: fit-content; */
    /* width: 16vw; */
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 0, 0, 0);
}

.expandable-circle-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: ease-in-out 1s;
    align-items: flex-start;    
    overflow-x: visible;
}
.expandable-circle-list li{
    position: relative;
    display: block;
    width: 6vw;
    height: 6vw;
    box-sizing: border-box;
    background-color: #2E3440;
    left: 0;

    border-radius: 50%;
    border-width: 5px;
    border-color: #ECEFF4;
    border-style: solid;

    margin: 5%;
    transition: ease-in-out 0.3s;
}

.expandable-circle-list li div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-list-title {
    color: #ECEFF4;
    text-align: center;
    font-size: 1.3vw;
    transition: ease-in 0.5s;
}

.circle-list-content {
    box-sizing: border-box;
    padding: 10%;
    color: #ECEFF4;
    /* background-color: red; */
    text-align: left;
    font-size: 1.3vw;
    width: 0;
    height: 0;
    opacity: 0%;
    transition: ease-out 0.2s;
    /* visibility: hidden; */
}

.circle-list-content h1 {
    font-size: 1.1vw;
    color: #ECEFF4;
}

.circle-list-content p {
    font-size: 1vw;
    color: #ECEFF4;
}

.circle-list-content a {
    text-decoration: underline;
    text-align: left;
    color: #ECEFF4;
    font-size: 1vw;
}

.circle-list-content a:hover {
    color: #A3BE8C;
}

.expandable-circle-list li:hover {
    opacity: 100%;
    width: 15vw;
    height: 17vh;
    border-radius: 50px;
}

.expandable-circle-list li:hover > .circle-list-content{
    visibility: visible;
    opacity: 100%;
    width: 100%;
    height: fit-content;
    transition: ease-in 0.5s;
}

.expandable-circle-list li:hover > .circle-list-title{
    visibility: hidden;
    opacity: 50%;
    width: 0;
    height: 0;
    transition: ease-out 0.2s;
}