#headerId{
    color: #2E3440;
    min-width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #A3BE8C;
    z-index: 300;
    font-family: 'Sofia Sans', sans-serif;
    top: 0;
}

#headerId h1 {
    font-size: 2vw;
}

#headerId h2 {
    color: #2E3440;
}

body{
    margin:0;
    background-color: #2e344094;
}
#pickerCard{
    height: 100vh;
    width: 40%;
    position: relative;
    background-color: #2E3440;
    border: #4B5043;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li{
    display: inline-block;
}
a{
    color: #2E3440;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: linear 0.1s;
}

a:hover {
    color: #ECEFF4;
    text-decoration: underline;
}
#cardDiv{
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}
#logoHeader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
#iconAndText{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#formTitle{
    font-size: 50px;
    margin-bottom: 15vh;
    text-align: center;
    color: #E5E9F0;
}
.inputText{
    border: none;
    border-bottom: 2px solid white;
    font-size: 100%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    padding: 8px;
    background-color: transparent;
    
}
.inputText:focus{
    outline: none;
}
.inputText::placeholder{
    color:white;
}
.searchButton{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    background-color: #A3BE8C;
    transition: 1s all;
    margin-bottom: 30px;
}
.searchButton:hover{
    background-color:#6b817d ;
    box-shadow: 0px 0px 0px 0px transparent;
    cursor:pointer;
}
#googleMaps{
    height: 100%;
    width: 60%;
    min-height: 500px;
    position: relative;
  }
  .double-column-screen{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }